<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'login.css' ) }}">
</head>

<body>
    <head class="header">
        <div class="header__box">
            <h1>Formulario</h1>
        </div>
    </head>

    <section class="formulario">
        <section class = "formulario__container">
            <h2>Datos</h2>
            <form class="formulario__container--form">
                <input class="input" type="text" name="nombre" placeholder="nombre" required="">
                <input class="input" type="password" name="contraseña" placeholder="contraseña" required="">
                <input class="input" type="email" name="correo" placeholder="correo" required="">
                <input class="input" type="text" name="direccion" placeholder="direccion" required="">
                <input class="input" type="text" name="ocupación" placeholder="ocupación" required="">
                <input class="input" type="text" name="edad" placeholder="edad" required="">                
                <input class="input" type="date" name="fecha_nacimiento" required="">

                <button class="button" type="submit"><a href="#">Aceptar Cambios</a></button>
            </form>
        </section>
    </section>
</body>

</html>