{% extends "layout.html" %}

{% block tittle %}Form{% endblock %}

{% block stylesCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'login.css' ) }}">
{% endblock %}

{% block header_tittle %}Formulario{% endblock %}

{% block body %}
<section class="formulario">
    <section class = "formulario__container">
        <h2>Datos</h2>
        <form class="formulario__container--form" action="/profile" method="post">
            <input class="input" type="text" name="nombre" placeholder="nombre" required="">
            <input class="input" type="password" name="contrasena" placeholder="contraseña" required="">
            <input class="input" type="email" name="correo" placeholder="correo" required="">
            <input class="input" type="text" name="direccion" placeholder="direccion" required="">
            <input class="input" type="text" name="ocupacion" placeholder="ocupación" required="">
            <input class="input" type="text" name="edad" placeholder="edad" required="">                
            <div class=formulario__container--form-date>
                <input class="input" type="date" name="fecha_nacimiento" required="">
                <p>fecha de nacimiento</p>
            </div>    
            <button class="button" type="submit"><p>Aceptar Cambios<p></button>
        </form>
    </section>
</section>
{% endblock %}
